{
    "parser": "babel-eslint",
    "env": { 
        "browser": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
	"parserOptions": {
		"ecmaVersion": 6
	},
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ]
}